#encabezado {
    .nav-encabezado {        
        min-height: 15vh;
        background-image: $myGrad;
        border-bottom: 10px solid rgb(11, 6, 6);
        width: 100%;

        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
        // justify-content: baseline;
        // align-items: flex-start;
        // align-content: space-between;
        @include myflex (row, baseline, flex-start, space-between);

        .encabezado-cuerpo {
            .navbar-personal {
                // display: flex;
                // flex-direction: row;
                // flex-wrap: wrap;
                // justify-content: baseline;
                // align-items: center;       
                @include myflex (row, baseline, center, null);

                .lista-enlaces {
                    .enlace {
                        a {
                            text-decoration: none;
                            color: $myColor !important;
                            font-size: 18px;
                            margin: 15px;

                            &:hover {
                                color: rgb(235, 210, 25) !important;
                                background-color: transparent;
                                font-weight: bold;
                            }
                        }
                    }
                }

                .form-btn-buscar {
                    .boton-buscar {
                        margin-right: 20px;
                        color: $myColor !important;
                        font-size: 18px;

                        &:hover {
                            background-color: rgb(235, 210, 25);
                        }
                    }
                }
            }
        }
    }
}